<div class="container">
  <!--<p id="notice"><%= notice %></p>-->

  <h1 class="firebrick-text">Deck</h1>

  <table class="table table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>Votes</th>
        <th>Deck Name</th>
        <th>Created by</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @decks.each do |deck| %>
        <tr>
          <td><%= deck.votes_for.up.size %></td>
          <td><%= deck.title %></td>
          <td><%= deck.user.username %></td>
          <td><%= link_to 'Show', deck %></td>
          <% if user_signed_in? %>
            <% if current_user.voted_up_on? deck %>
              <td><%= link_to 'Unvote', unvote_item_path(deck), method: :destroy %></td>
            <% else %>
              <td><%= link_to 'Vote', vote_item_path(deck), method: :post %></td>
            <% end %>
          <% end %>
          <% if deck.user == current_user %>
            <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
            <td><%= link_to 'Delete', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Deck', new_deck_path %>

</div>
